---
import BaseLayout from './base.astro'
import { SEO } from 'astro-seo'
import SpeedInsight from '~/components/speedInsight.astro'
import { Header } from '~/components/header'
import { type SiteSettings, getSiteSettings } from '~/data/site'
import { Picture } from 'astro:assets'
import '@fontsource-variable/urbanist'
import '~/styles/globals.scss'

const { publication: site } = (await getSiteSettings()) as SiteSettings

const {
  title,
  description,
  hide = false,
} = Astro.props as {
  title?: string | undefined
  description?: string | undefined
  hide?: boolean | undefined
}
---

<BaseLayout>
  <!-- Head -->
  <Fragment slot="head">
    <SEO
      title={title
        ? `${title} \u2014 ${site.title}`
        : `${site.title} \u2014 ${site.about!.text!}`}
      description={description || site.about!.text!}
      noindex={hide}
      nofollow={hide}
    />
    <slot name="head" />
  </Fragment>

  <!-- Body -->
  <Fragment>
    <Header site={site}>
      <Picture
        src={site.favicon!}
        class="w-[50px] h-[50px] object-cover rounded-full shadow-md"
        formats={['avif', 'webp']}
        width={50}
        height={50}
        loading="eager"
        alt=""
      />
    </Header>
    <main class="md:max-w-screen-md md:mx-auto px-4 pb-24">
      <slot />
    </main>
    <SpeedInsight />
  </Fragment>
</BaseLayout>
