---
import BaseLayout from './base.astro'
import { SEO } from 'astro-seo'
import Header from '~/components/header/header.astro'
import { getEntry } from 'astro:content'
import { getImage } from 'astro:assets'
import profile from '~/assets/profile.jpg'
import '@fontsource-variable/urbanist'
import '~/styles/globals.scss'

const { data: site } = await getEntry('site', 'site')
const profileImageProps = await getImage({
  src: profile,
  width: 100,
  height: 100,
})
const {
  title,
  description,
  hide = false,
} = Astro.props as {
  title?: string | undefined
  description?: string | undefined
  hide?: boolean | undefined
}
---

<BaseLayout>
  <!-- Head -->
  <Fragment slot="head">
    <SEO
      title={title
        ? `${title} \u2014 ${site.title}`
        : `${site.title} \u2014 ${site.description}`}
      description={description || site.description}
      noindex={hide}
      nofollow={hide}
      extend={{
        link: [
          {
            rel: 'preload',
            href: profileImageProps.src,
            as: 'image',
          },
        ],
      }}
    />
    <script
      async
      src="https://sngr-analytics.netlify.app/script.js"
      data-website-id="ebdd858f-2a9d-415b-a46d-8a87162122e0"></script>
    <slot name="head" />
  </Fragment>

  <!-- Body -->
  <Fragment>
    <Header profileImageProps={profileImageProps} />
    <main class="md:max-w-screen-md md:mx-auto px-4 pb-24">
      <slot />
    </main>
  </Fragment>
</BaseLayout>
